<h1 class="text-center">Choose Your Denim</h1>

<!-- Shows the denim items in a row of 4 -->
<div class="container" id="shopping-bag-container">
  <div class="denim-block col-md-3" ng-repeat="denim in denims">
    <div class="choose-your-denim-img">
      <img src=" {{denim.image}} " class="choose-your-denim-img">
    </div>
    <div class="denim-description" >
      <h4 id="denim-name"><strong> {{denim.name}} </strong></h5>
      <p id="denim-price">Price: <span>$ {{denim.price}} </span></p>
      <p id="denim-color">Color: <span> {{denim.color}} </span></p>
    </div>
    <div class="text-center">
      <button class="btn btn-info btn-sm" id="btnAddToBag" type="button" ng-click="addToBag(denim)">Add to Bag</button>
    </div>
  </div>
</div>
