<!-- <h1 class="text-center homeHero">Welcome to <strong>Dark Denim Destination</strong> Home Page!</h1> -->

<div class="jumbotron">
  <h1 class="text-center animated bounceInLeft">Welcome to Dark Denim Destination</h1>
    <div class="logo-image text-center animated flip">
      <img src="./images/logo.png" alt="">
    </div>
  <p class="home-main-p text-center" id="first-home-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corrupti praesentium explicabo? Possimus et atque, consequatur ad maxime nesciunt odio ea qui iure aperiam, id aut saepe quod fugiat dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p class="home-main-p text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corrupti praesentium explicabo? Possimus et atque, consequatur ad maxime nesciunt odio ea qui iure aperiam, id aut saepe quod fugiat dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p class="home-main-p text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corrupti praesentium explicabo? Possimus et atque, consequatur ad maxime nesciunt odio ea qui iure aperiam, id aut saepe quod fugiat dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <div class="text-center">
    <button class="btn btn-danger btn-lg" ui-sref="chooseyourdenim"> Shop Now </button>
  </div>
</div>

<section id="main-image" class="clearfix">
  <div class="main-image">


  </div>

</section>


<!-- **************************** Who We Are Section ****************************** -->

<section id="who-we-are-section" class="clearfix">
  <div class="col-md-7 imgWhoWeAre">

  </div>
  <div class="col-md-5">
    <div class="who-we-are-content">
      <h1 class="home-main-heading">Who We Are</h1>
      <p class="section-p text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

</section>



<!-- **************************** What We Do Section ****************************** -->

<section id="what-we-do-section" class="clearfix">

  <div class="col-md-5">
    <div class="what-we-do-content">
      <h1 class="home-main-heading">What We Do</h1>
      <p class="section-p text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="col-md-7 imgWhatWeDo">

  </div>

</section>
<!-- **************************** Why We Do It Section **************************** -->

<section id="why-we-do-it" class="clearfix">
  <div class="col-md-7 imgWhyWeDoIt">

  </div>
  <div class="col-md-5">
    <div class="why-we-do-it-content">
      <h1 class="home-main-heading">Why We Do It</h1>
      <p class="section-p text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

</section>


<!-- **********************************Footer********************************** -->
<div class="footer text-center">
  <p class="footer">Dark Denim Destination 2017 | DESIGNED BY BRIAN CHOTISUNANTA</p>
  <p class="footer-sub">All images in this site are for demonstration purposes only. I assume no ownership nor copyright over any images. These images are for personal and non-commercial use only.</p>
</div>
