
<h1 class="text-center">Shopping Bag</h1>

  <div class="items-in-bag col-md-6">
    <h3 id="items-in-bag-h3">Items in Bag</h3>

    <div class="itemContainer" ng-repeat="denim in denims">
      <div class="item-image col-md-6">
        <img class="item-image-in-shopping-bag" src=" {{ denim.image }} ">
      </div>
      <div class="item-info col-md-6">
        <p><strong>Item Name:</strong> {{ denim.name }} </p>
        <p><strong>Denim Style:</strong> {{ denim.style }} </p>
        <p><Strong>Price:</Strong> $ {{ denim.price }} </p>
        <p><Strong>Quantity: ( {{denim.smallQuantity}} - {{denim.largeQuantity}} ) <input type="number" ></input>
        </Strong></p>
        <!-- <p><Strong>Quantity:</Strong> {{denim.smallQuantity}} - {{denim.largeQuantity}} </p> -->
        <p><Strong>Size: {{ denim.smallSize }} - {{ denim.bigSize }} <input type="number" ></input></Strong><p>
        <p><Strong>Color:</Strong> {{ denim.color }} </p>
      </div>
        <!-- Not showing fix this!!! There is an ng-hide here -->
      <div class="item-in-bag-buttons col-md-12">
        <!-- <h1>Test</h1> -->
        <button class="button-checkout btn btn-info btn-lg active pull-right" ng-click="editShopBagItems()" ng-show="buttonEdit">Edit</button>

        <button class="button-checkout btn btn-danger btn-lg active pull-right" ng-click="removeShopBagItems()" ng-show="buttonRemove">Remove</button>
      </div>
    </div>
  </div>

  <div class="bag-summary col-md-4">
    <h3>Bag Summary</h3>
    <p ng-click="subTotal()">Subtotal: $  </p>
    <p>Shipping: </p>
    <p><strong>Total:</strong></p>
    <button class="button-checkout btn btn-primary btn-block active">Checkout</button>
  </div>
